*{
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    /* display: flex; */
    margin: 0;
    /*Or apply ---> float: left; <---- in both leftbox and rightbox...*/
}

.leftbox{
    box-sizing: border-box;
    background-color: rgb(42, 42, 99);
    color: white;
    float: left;
    width: 25% ;
    height: 100vh ;
    padding: 25px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.name{
    font-size: 30px;
    /* font-family: sans-serif;     This is time consuming and not the right way to do things we will use the universal selector */
}

.bio{
    text-align: center;
}

.connect-button{
    margin: 50px;
    padding:7px 14px;
    border-radius: 40px;
    border: none;
}


/* ------------------------------------------------------------------------------------------------------------*/



.rightbox{
    background-color: rgb(21, 21, 22);
    color: white;
    width: 75% ;
    height: 100vh ;
    overflow: auto;
    float: left;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.nav-container h3{
    margin: 0;
    color: blue;
}

.navlinks a {
    color: grey;
    text-decoration: none;
    margin: 0px 15px;
}

.navlinks a:hover {
    color: black;
    transition: ease-in-out 350ms;

}

.content{
    /* float: left; */
    margin: 50px 25px;
    text-align: justify;
}

#n1{
    color: rgb(255, 255, 0);
}

#n1:hover{
    text-shadow: 2px 8px 3px rgb(45, 87, 45);
    
    color: greenyellow;
    transition: ease-in-out 350ms;
    cursor: pointer;
}

#n2{
    color: rgb(243, 243, 12);
}

#n2:hover{
    text-shadow: 2px 8px 3px rgb(45, 87, 45);
    
    color: greenyellow;
    transition: ease-in-out 350ms;
    cursor: pointer;
}

#n3{
    color: rgb(0, 255, 21);
}

#n4{
    color: rgb(0, 255, 13);
}

.list{
    /* float: left; */
    display: flex;
    margin: 0 25px;
}

@media only screen and (max-width: 600px){

    .leftbox{
        float: none;
        width: 100%;
    }

    .rightbox{
        float: none;
        width: 100%;
        height: auto;
    }


}